@import "tailwindcss";
/* @plugin "@tailwindcss/typography"; */
@theme {
    --color-primary: #AAD047;
    --color-acent: #F7811D;
    --color-secondary: #037B4B;
    --color-title: #3A4557;
    --color-terra: #51473A;
    --font-inter: "Inter", sans-serif;

    --animate-loop-scroll: loop-scroll 40s linear infinite;
    
        @keyframes loop-scroll {
    
           0%{
                transform: translateX(0);
            }
    
            100%{
                transform: translateX(calc(-50% - 20px));
            }
        }
}

@theme{
    --animate-loop-inverse: loop-inverse 40s linear infinite;
    
        @keyframes loop-inverse {
    
            100% {
                transform: translateX(0);
            }
    
            0% {
                transform: translateX(calc(-50% - 20px));
            }
        }
}

@font-face {
    font-family: Inter;
    src: url(/inter.ttf) format("truetype");
}
