---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
export const prerender = true;
---

<style>
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
  }
</style>

<Layout title="Contact - Tranding Global Produce Rofim">
  <div
    class="flex w-full h-screen max-h-96 overflow-hidden text-left z-0 relative min-h-96 justify-items-start items-end"
  >
    <div class="z-30 relative pb-6 px-10 text-white">
      <div class="flex flex-col text-white">
        <ul class="text-[min(6vw,40px)] font-bold">
          <li class="flex">
            <span>Premium Quality</span>
          </li>
          <li class="flex">
            <span>Authentic Products</span>
          </li>
          <li class="flex">
            <span>Professional Excellence</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="absolute top-0 bottom-0 w-full h-full z-10">
      <img
        class="object-center h-full w-full object-cover"
        src="/heroBgProducts.jpg"
        alt=""
      />
    </div>
  </div>
  <main
    aria-label="us"
    class="flex flex-col w-full h-auto items-start justify-start text-center mx-auto bg-white"
  >
    <div
      class="flex flex-col h-auto w-full justify-center text-center items-cente mx-auto px-12 py-4"
    >
      <h3 class="pb-2 text-3xl text-title font-bold">
        Your Fresh Produce Starts Here
      </h3>
      <p class="text-title/80">
        Visit our facilities in Las Cabuyas, La Vega, where quality and
        freshness meet excellence.
      </p>
      <div class="py-8">
        <a href="https://www.google.com/maps" target="_blank">
          <img
            class="w-full h-full rounded border-primary shadow-lg"
            src="/maps.jpg"
            alt="Ubicación de Trading Global Produce Rofim"
          />
        </a>
      </div>
    </div>
    <h1 class="text-white font-bold text-2xl py-8 bg-secondary w-full">
      Get In Touch With Us Now
    </h1>
    <div
      class="h-auto w-full text-center items-center cards-grid flex-wrap bg-secondary pb-12 gap-4 px-12"
    >
      <a
        href="tel:+18093832022"
        class="flex flex-col w-full h-full bg-white hover:bg-linear-to-b from-white to-primary/20 justify-around items-center p-8 rounded shadow-md"
      >
        <Icon
          name="phone"
          size={50}
          class="text-secondary bg-green-100 rounded-full p-2"
        />

        <h2 class="text-2xl font-medium py-1.5 leading-tight text-secondary">
          Phone Number
        </h2>
        <p class="text-xl text-title">+1-809-383-2022</p>
      </a>
      <a
        href="mailto:joe_rofim@hotmail.com"
        class="flex flex-col w-full h-full bg-white hover:bg-linear-to-b from-white to-primary/20 justify-around items-center p-8 rounded shadow-md"
      >
        <Icon
          name="mail"
          size={50}
          class="text-secondary bg-green-100 rounded-full p-2"
        />
        <h2 class="text-2xl font-medium py-1.5 leading-tight text-secondary">
          Email
        </h2>
        <p class="text-xl sm:text-sm lg:text-xl text-title">
          joe_rofim@hotmail.com
        </p>
      </a>
      <article
        class="flex flex-col w-full h-full bg-white hover:bg-linear-to-b from-white to-primary/20 justify-around items-center p-8 rounded shadow-md"
      >
        <Icon
          name="location"
          size={50}
          class="text-secondary bg-green-100 rounded-full p-2"
        />
        <h2 class="text-2xl font-medium py-1.5 leading-tight text-secondary">
          Location
        </h2>
        <p class="text-lg text-title">
          Main street, Las Cabuyas, La Vega, Dominican Republic
        </p>
      </article>
      <a
        href="https://drive.google.com/file/d/1lmR6_0v0gq2g_zisNjtIdXSHKal9EWel/view?usp=drive_link"
        target="_blank"
        class="flex flex-col w-full h-full bg-white hover:bg-linear-to-b from-white to-primary/20 justify-around items-center p-8 rounded shadow-md"
      >
        <Icon
          name="download"
          size={50}
          class="text-secondary bg-green-100 rounded-full p-2"
        />
        <h2 class="text-2xl font-medium py-1.5 leading-tight text-secondary">
          Download
        </h2>
        <p
          class="text-md text-secondary border-2 border-secondary rounded px-3 py-2"
        >
          Download our products catalog
        </p>
      </a>
    </div>
  </main>
</Layout>
