---

---

<header
  class="flex justify-center fixed top-0 left-0 z-50 w-full px-10 bg-white/70 backdrop-blur-sm"
>
  <nav
    class="flex items-center justify-between lg:justify-center w-full px-4 gap-12 py-1 text-title"
  >
    <ul
      id="nav-menu-right"
      class="hidden lg:flex gap-2 text-2xl text-center items-center px-10"
    >
      <li class="hover:text-acent transition-colors px-6 rounded font-bold">
        <a href="/">HOME</a>
      </li>
      <li
        class="hover:text-acent transition-colors px-6 rounded text-nowrap font-bold"
      >
        <a href="../about">ABOUT US</a>
      </li>
    </ul>

    <!-- Logo centrado -->
    <div class="flex-shrink-0 mx-0 md:mx-0 sm:mx-auto">
      <img
        class="w-50 h-auto min-w-[8rem]"
        src="/logo.png"
        alt="Logo de la empresa Tranding Global Produce Rofim"
      />
    </div>

    <!-- Menú de navegación derecho (oculto en móviles) -->
    <ul
      id="nav-menu-right"
      class="hidden lg:flex items-center font-bold text-2xl whitespace-nowrap"
    >
      <li class="hover:text-acent transition-colors px-6 rounded">
        <a href="../products">PRODUCTS</a>
      </li>
      <li
        class="hover:text-acent hover:border-acent transition-colors px-4 rounded border-2"
      >
        <a href="../contact">CONTACT</a>
      </li>
    </ul>
    <!-- Botón de menú para móviles -->
    <button
      id="menu-toggle"
      class="block lg:hidden p-2 rounded text-white text-3xl border-2 border-white bg-primary"
      aria-label="Toggle Menu"
    >
      ☰
    </button>
  </nav>
</header>

<script>
  import { isSideMenuOpen } from "@/store";

  const sideMenuOpen = document.getElementById("menu-toggle");

  function openSideMenu() {
    isSideMenuOpen.set(true);
  }

  sideMenuOpen?.addEventListener("click", openSideMenu);
</script>
